﻿@model IMS.Models.Database.Item

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/App/Views/_LayoutMain.cshtml";
}

@section styles{
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    @Styles.Render("~/Content/css")
}

<div data-ng-init="setCurrentItem(@ViewBag.id)">
    <form>
        <h3>Add/Edit Item</h3>
        <hr />
        <h4>Name</h4>
        <input type="text" data-ng-model="item.Name" required />
        <h4>Description</h4>
        <textarea rows="4" cols="50" type="text" data-ng-model="item.Description" required></textarea>
        <h4>Location</h4>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                Locations
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li data-ng-click="updateItemLocationId(location.ID)" role="presentation" data-ng-repeat="location in locations.Items">
                    <a role="menuitem">{{location.Name}}</a>
                </li>
            </ul>
        </div>
        <h4>Quantity</h4>
        <input type="number" data-ng-model="item.Quantity" required />
        <h4>Expires</h4>
        <input type="date" data-ng-model="item.Expires" />
        <button data-ng-click="addItem(item)">@Html.ActionLink("Save", "Index", "Index")</button>
    </form>
    <hr />
    <p>@Html.ActionLink("Back to List", "Index", "Index")</p>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ims")
}
