﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/App/Views/_LayoutMain.cshtml";
}

@section styles{ 
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak{
            display: none !important;
        }
    </style>
    @Styles.Render("~/Content/css")
}

<div class="filter">
    <h3>Food List</h3>
    <div class="filter">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                Location Filter
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation" data-ng-repeat="location in locations.Items">
                    <a href="" data-ng-click="locationSortChanged(location.ID)" role="menuitem">{{location.Name}}</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                    <a href="" role="menuitem">None</a>
                </li>
            </ul>

            <input type="text" class="" data-ng-model="filterText" placeholder="Search..." />
            <p class="pull-right">@Html.ActionLink("Add New...", "Index", "Item")</p>
        </div>
    </div>
</div>

<table class="food-list table table-responsive" data-ng-controller="MainController">
    <tr class="row">
        <th class="col-md-4">Food Name<span class="caret" data-ng-click="sortChanged('Name')" /></th>
        <th class="col-md-2">Location<span class="caret" data-ng-click="sortChanged('LocationID')" /></th>
        <th class="col-md-2">Expiration<span class="caret" data-ng-click="sortChanged('Expires')" /></th>
        <th class="col-md-2">Quantity<span class="caret" data-ng-click="sortChanged('Quantity')" /></th>
        <th class="col-md-2">Option</th>
    </tr>

    <tr class="row" data-ng-repeat="item in items.Items | filter:filterText | orderBy:sort">
        <td class="col-md-3">{{ item.Name }} - {{ item.Description }}</td>
        <td class="col-md-3" data-ng-bind="locationNames[{{ item.LocationID }}]"></td>
        <td class="col-md-2">{{ item.Expires | date: 'EEE, MMMM dd, yyyy' }}</td>
        <td class="col-md-2">{{ item.Quantity }}</td>
        <td class="col-md-2">
            <a href="/App/Item/Index/{{item.ID}}" class="glyphicon glyphicon-edit"></a> | <a class="glyphicon glyphicon-remove" data-ng-click="deleteItem(item)"></a>
        </td>
    </tr>
</table>

@section scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ims")
}