﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("styles", false)
</head>
<body ng-app="imsMain" ng-controller="MainController" class="body-content">
    <header>
        <h1>Inventory Mangement System</h1>
    </header>

    <div class="main-page">
        @RenderBody()
    </div>

    <footer class="navbar-fixed-bottom">
        <p>Sean C White - CSCI 491 - Spring 2017</p>
    </footer>

    @RenderSection("scripts", false)
</body>
</html>
